@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principal {
  text-align: center;
  padding-top: 160px;
  background: url(https://i.ibb.co/S5d7cFT/background-image.jpg) no-repeat center/cover;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.principal__subtitulo {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

h3 span {
  color: #FFC700;
}

.principal__titulo {
  font-family: 'Emilys Candy', cursive;
  font-weight: 400;  
  font-size: 64px;
  line-height: 80px;
  color: #FFC700;
}

.principal__texto {
  font-weight: 400; 
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 72px;
}

a {
  padding: 12px 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.6;
}

a:hover,
.btn-primary {
  text-decoration: none;
  background-color: #FFC700;
  color: #040101;
  opacity: 1;
}