@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Inter:wght@400;700&display=swap');

:root {
  --cor-texto: #FFFFFF;
  --cor-cinza: #040101;
  --cor-amarelo: #FFC700;

  --fonte-primaria: 'Inter', sans-serif;
  --fonte-secundaria: 'Emilys Candy', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principal {
  text-align: center;
  padding-top: 10rem;
  background: url(https://i.ibb.co/S5d7cFT/background-image.jpg) no-repeat center/cover;
  height: 100vh;
  font-family: var(--fonte-primaria);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.principal__subtitulo {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--cor-texto);
}

h3 span {
  color: var(--cor-amarelo);
}

.principal__titulo {
  font-family: var(--fonte-secundaria);
  font-weight: 400;  
  font-size: 64px;
  line-height: 80px;
  color: var(--cor-amarelo);
}

.principal__texto {
  font-weight: 400; 
  font-size: 20px;
  line-height: 24px;
  color: var(--cor-texto);
  opacity: 0.7;
  margin-bottom: 4.5rem;
}

a {
  padding: 0.75rem 2rem;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--cor-texto);
  opacity: 0.6;
}

a:hover,
.btn-primary {
  text-decoration: none;
  background-color: var(--cor-amarelo);
  color: var(--cor-cinza);
  opacity: 1;
}


/* RESPONSIVIDADE */
@media screen and (max-width: 595px) {
  .principal__titulo {
    padding: 0 2rem;
  }

  .principal__texto {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 465px) {
  .principal__titulo {
    font-size: 54px;
  }

  .principal__texto {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .principal__titulo {
    font-size: 48px;
  }

  .principal__texto {
    font-size: 18px;
  }

  a {
    padding: 0.75rem 1rem;
    font-size: 18px;
  }
}